<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>Pet-Shop Franco</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Expanded:wght@300;500;600&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="css/styles.css">
    <link rel="icon" type="image/png" href="assets/kisspng-standard-schnauzer-miniature-schnauzer-giant-schna-love-dogs-5ae0753631ef50.4139786015246595102045.png">
</head>
<body>
    <div id="app">
        <header>
            <img src="assets/logo3.png" height="85px" alt="Logo Pet-Shop Franco" class="logo">
            <nav>
                <ul class="navbar">
                    <li><a href="index.html">INICIO</a></li>
                    <li><a href="toys.html">JUGUETES</a></li>
                    <li><a href="pharmacy.html">FARMACIA</a></li>
                    <li><a href="contact.html">CONTACTANOS</a></li>
                </ul>
            </nav>
        </header>
        <section class="backgroundToys">
            <div>
                <h1>Farmacia</h1>
                <h2>Cuidamos a tu mascota</h2>
            </div>
            <div class="toysCatalogue">
                <div class="cards" v-for="value in pharmacy">
                    <figure class="cardsFront">
                        <div class="cardsImage">
                            <img :src="value.imagen" alt="foto del juguete" width="200vh" class="cardsImg">
                        </div>
                        <div class="cardsText">
                            <h4>{{value.nombre}}</h4>
                        </div>
                        <div class="cardsStock">
                            <p v-if="value.stock <=5">${{value.precio}} - ¡Últimas unidades!</p>
                            <p v-else>${{value.precio}} - Stock: {{value.stock}}</p>
                        </div>
                    </figure>
                    <figure class="cardsBack">
                        <div class="cardsText">
                            <h3>{{value.nombre}}</h3>
                            <p>{{value.descripcion}}</p>
                        </div>
                        <div class="cardsBtn">
                            <button class="wishListBtn">Agregar al carrito</button>
                        </div>
                    </figure>
                </div>
            </div>
        </section>
    </div>
    <div class="footer">
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-instagram"></a>
    </div>
    <div class="loader"></div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
    crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>